.messages-page{
    display:flex;
    flex-direction: column;
}



.messages-container{
    background-color: #424242;
    height: auto;
    flex-basis: auto;
    height: 50vh;
    display:flex;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}


.groups-container{
    background-color: #322e2e;
    overflow: scroll;
    width:40%;
    display: flex;
    flex-direction: column;
}
.groups-container button{
    width: 98%;

    height: 100%;
    background-color: #222;
    border:groove 1px;
    border-radius: 1vh;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.groups-container button:hover{
    background-color: #A20025;
    width: 100%;
}

.groups-container button.active{
    background-color: #962626;
    
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 100%;
}

.user-group-item {
    position: relative;
    display: inline-block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); 
    height: 1vh;
    border-radius: 1vh;
} 

.headerDivider {
    border-left:1px solid #322e2e; 
    border-right:10px solid #413e3e; 
    height:100%;
    margin-right: 0.2%;
}


.dms-container{
    flex-direction: row;
    width: 100%;
    margin-right: 1%;
}

.message-logs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.message-group-item{
    position: relative;
    display: inline-block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); 
    width: 100%;
    margin-bottom: 1.5%;
    margin-top: 1%;
}


.form-control{
    margin-top: 2%;
}

.User{
    color:#738BBB;
}

.Main-User{
    color:#A20025;
}