  .profile-container {
    display: flex;
    margin-top: 40px;
    height: 500px;
    padding: 0% 10% 0% 10%;
  }

  .bordered-button {
    border: 1px solid red;
  }
  
  .left-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    background-color: #333;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  
  .right-container {
    flex: 1;
    padding: 20px;
    background-color: #333;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .left-container button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #222;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  
  .left-container button.active {
    background-color: #ccc;
    color: #000;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 2% auto 0; /* Center horizontally and add 20px padding from the top */
    padding: 20px;
    background-color: #333;
    border-style: solid;
    border-color: #232323;
    border-width: 1px;
    border-radius: 8px;
  }
  
  .main-container {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    background-color: #232323;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .order-item {
    margin-bottom: 16px;
    background-color: #861717;
  }
  
  .order-header {
    cursor: pointer;
  }
  
  .order-details {
    margin-top: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #333;
  }
  
  .order-details p {
    margin: 4px 0;
  }
  
  .order-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-details li {
    margin-bottom: 8px;
  }
  
  .order-details li p {
    margin: 0;
  }
  
  