  .profile-container {
    display: flex;
    margin-top: 40px;
    height: 500px;
    padding: 0% 10% 0% 10%;
  }
  
  .left-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    background-color: #333;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  
  .right-container {
    flex: 1;
    padding: 20px;
    background-color: #333;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .left-container button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #222;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .left-container button.active {
    background-color: #ccc;
    color: #000;
  }
  
  /* Additional styles for the rest of the page */
  