html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  position: relative;
  padding-bottom: 10%; /* Adjust the padding value as needed */
}

.footer {
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 2% 0% 2% 0%;
  position: absolute;
  bottom: 0;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}e

.footer .left {
  padding-right: 0.75em;
  text-align: right;
}

.footer .left a {
  text-decoration: none;
  color: #fff;
}

.footer .right {
  padding-left: 0.75em;
  text-align: left;
}

.footer .right a {
  text-decoration: none;
  color: #fff;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: #777;
}