.header {
  background-color: #333;
  color: #ddd;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.actionbar {
  font-size: 12px;
  background-color: #962626;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0% 2% 0% 0%;
}
.continue-shopping {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.account-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-links li:not(:last-child) {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  position: relative;
}

.nav-links a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -22px;
  width: 100%;
  height: 2px;
  background-color: #ffff;
}

.actionbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.actionbar-links a {
  color: #fff;
  text-decoration: none;
}

.actionbar-links li:not(:last-child) {
  margin-right: 20px;
}

.actionbar-links a {
  color: #fff;
  text-decoration: none;
}

.actionbar-links a:hover {
  position: relative;
}

/* Cart Dropdown */
.cart-container {
  position: relative;
}

.cart-total {
  text-transform: uppercase;
  font-weight: bold;
}

.cart-button {
  cursor: pointer;
}

.cart-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  width: 250px;
  border-radius: 4px;
  border: 1px solid #fff; /* White border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
}

.scroll-container {
  max-height: 350px;
  overflow-y: auto;
  padding-right: 10px;
}

.cart-item-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 5px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.cart-item-actions span {
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}

.checkout-button {
  width: 100%;
  padding: 8px;
  background-color: #962626;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.checkout-button:hover {
  background-color: #821f1f;
}
