.header {
  background-color: #333;
  color: #ddd;
}

.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.actionbar {
  font-size: 12px;
  background-color: #962626;
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  justify-content: flex-end; /* Align items to the right */
  padding: 0% 2% 0% 0%;
}

.account-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px; /* Adjust the margin as needed */
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-links li:not(:last-child) {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  position: relative;
}

.nav-links a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -22px;
  width: 100%;
  height: 2px;
  background-color: #ffff;
}

.actionbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.actionbar-links a {
  color: #fff;
  text-decoration: none;
}

.actionbar-links li:not(:last-child) {
  margin-right: 20px;
}

.actionbar-links a {
  color: #fff;
  text-decoration: none;
}

.actionbar-links a:hover {
  position: relative;
}
